{% extends 'base.html.twig' %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    <h2>Thank you for registering!</h2>
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}
